@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;
    --card: 210 20% 98%;
    --card-foreground: 215 28% 17%;
    --primary: 212 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 212 100% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 100% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 212 100% 25%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
